rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /feeds/{feedId} {
      allow read, create, update: if request.auth != null;
      allow delete: if false;

      match /history/{versionId} {
        allow read, create: if request.auth != null;
        allow update, delete: if false;
      }
    }
  }
}
